redText {color: rgb(255, 0, 0); /*rgb for red*/}
blueText {color: #0026ff}
greenText {color: hsl(102, 100%, 50%);}
orangeText {
    color: orange;
    font-size: 2em;
}
body {background-color: silver}
boxSS { /*short short*/
    width: 30vw;
    height: 200px;
    max-width: 1000px;
    min-width: 100px;
    border-style: dashed;
    border-color: forestgreen;
    border-width: 2px;
    border-radius: 4px;
    padding: 30px;
    margin: 10vh;
}
boxLL { /*long long*/
    width: 200px;
    border: 15px solid green;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 30px;
}
boxSL { /*short long*/
    width: 200px;
    border: 15px solid green;
    margin: 4cm;
    padding-top: 1mm;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}
boxAuto {
    width: 200px;
    border: 15px solid green;
    margin: auto;
    padding: 4px;
}
h3 {
    text-align: center;
    color: brown;
    text-decoration: underline;
    position: static;
}
li {
    display: block;
}
h1.hidden {
    display: none;
}
div.relative {
    position: relative;
    left: 30vw;
}
myFont {
    font-family: 'Nabla', cursive;
}
@media only screen and (max-width: 800px) {
    body {
        background-color: lightcyan;
    }
}
changeColor:hover {color: aqua;}
changeColor:active {color: seagreen;}
.flex-container {
    display: flex;
    background-color: forestgreen;
}
.flex-container > div {
    background-color: cyan;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blueviolet;
    padding: 5px;
}
.grid-item {
    background-color: cadetblue;
    border: 1px solid white;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}